@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK|Ropa+Sans&display=swap');

body {
    background-color: #f4f5f7;
    width: 980px;
}

.background {
    background-color: #ffffff;
}

img {
    max-width: 300px;
    max-height: 300px;
}